.m1vs1-games {
  display: flex;
  flex-direction: column; }

.m1vs1-games__header {
  display: flex;
  text-transform: uppercase;
  margin-bottom: 10px;
  justify-content: center; }

.m1vs1-games__header__cmp-cell, .m1vs1-games__header__single-cmp-cell {
  justify-content: center; }

.m1vs1-games__game {
  display: flex;
  justify-content: center; }

.m1vs1-games__game:hover {
  background-color: rgba(0, 0, 255, 0.05); }

.m1vs1-games__game--win {
  background-color: none; }

.m1vs1-games__game__cell, .m1vs1-games__header__cell, .m1vs1-games__game__player-a-cell {
  display: flex;
  flex-basis: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 10px; }

.m1vs1-games__game__player-a-cell {
  justify-content: flex-end; }

.m1vs1-games__game__cmp-cell, .m1vs1-games__header__cmp-cell, .m1vs1-games__header__single-cmp-cell, .m1vs1-games__game__single-cmp-cell {
  display: flex;
  position: relative;
  flex-basis: 120px;
  justify-content: center; }

.m1vs1-games__cell--narrow {
  flex-basis: 90px !important; }

.m1vs1-games__game__cmp-cell__a, .m1vs1-games__game__single-cmp-cell__a {
  flex: 1;
  text-align: right; }

.m1vs1-games__game__cmp-cell__separator {
  flex-basis: 20px;
  display: flex;
  justify-content: center; }

.m1vs1-games__game__cmp-cell__b {
  flex: 1; }

.m1vs1-games__game__cmp-cell__bar, .m1vs1-games__game__single-cmp-cell__bar {
  position: absolute;
  height: 100%;
  z-index: -1; }

.m1vs1-games__header__single-cmp-cell {
  flex-basis: 60px; }

.m1vs1-games__game__single-cmp-cell {
  flex-basis: 60px; }

.m1vs1-games__game__single-cmp-cell__a {
  text-align: center;
  padding-right: 10px; }

.m1vs1-games__game__single-cmp-cell__bar {
  right: 10px; }

.m1vs1-games__game__single-cmp-cell__bar--worse {
  background-color: rgba(255, 0, 0, 0.15);
  border-right: 1px solid rgba(255, 0, 0, 0.8); }

.m1vs1-games__game__cmp-cell__bar--worse {
  background-color: rgba(255, 0, 0, 0.15);
  border-left: 1px solid rgba(255, 0, 0, 0.8); }

.m1vs1-games__game__cmp-cell__bar--better {
  background-color: rgba(0, 255, 0, 0.25);
  border-right: 1px solid lime; }

/* .duel-games__game__diff-cell__a { */
/*     flex: 1; */
/*     text-align: right; */
/* } */
/* .duel-games__game__diff-cell__bar--worse { */
/*     background-color: rgba(255,0,0,0.15); */
/*     border-left: 1px solid rgba(255,0,0,0.8); */
/* } */
/* .duel-games__game__diff-cell__bar--better { */
/*     background-color: rgba(0,255,0,0.25); */
/*     border-left: 1px solid rgba(0,255,0,1); */
/* } */
.m1vs1-games__game__cmp-cell__na {
  color: #aaa; }

.m1vs1-games__game__cell__percent {
  color: #ccc; }

.m1vs1-games__separator-cell {
  flex-basis: 40px; }

.m11-opponents {
  display: flex;
  flex-direction: column; }

.m11-opponents__row {
  display: flex;
  justify-content: center; }

.m11-opponents__row--header {
  text-transform: uppercase;
  margin-bottom: 10px; }

.m11-opponents__cell {
  display: flex;
  flex-basis: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 10px; }

.m11-opponents__cell--name {
  justify-content: flex-start; }

#main {
  font-family: Courier;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.4;
  max-width: 80rem;
  margin: 0 auto; }

