@import 'themes';

////////////////////////////////////////////////////////////////////////////////

.table__row, .table__header-row {
    display: flex;
    //justify-content: center;
}

.table__row:hover {
    cursor: pointer;
    //color: $table-hover-color;

    @include themify($themes) {
        background-color: themed('table-hover-bg-color');
    }
}

.table__row:nth-child(even) {
    //background-color: #f5f5f5;
}

////////////////////////////////////////////////////////////////////////////////
// cell

.table__cell {
    display: flex;
    box-sizing: border-box;
    margin: 0px 10px;

    @include themify($themes) {
        flex-basis: themed('cell-basis');
    }
}

.table__cell--header {
    text-transform: uppercase;
    //justify-content: center;
    justify-content: flex-start;
    cursor: pointer;

    @include themify($themes) {
        margin-bottom: themed('vgap-normal');
    }
}

.table__cell--header--selected {
    //color: #FF55FF;
    color: magenta;
    //border: 1px solid magenta;
}

.table__cell--header:hover .table__cell__header-name {
    text-decoration: underline;
}

.table__cell__sort-arrow {
    margin-left: 5px;
}

.table__cell__sort-arrow--visible {
    visibility: visible;
}

.table__cell__sort-arrow--hidden {
    visibility: hidden;
}

.table__cell--right-align {
    justify-content: flex-end !important;
}

.table__cell--center-align {
    justify-content: center !important;
}

.table__cell--right-align {
    justify-content: flex-end !important;
}

.table__cell--tiny {
    @include themify($themes) {
        flex-basis: themed('tiny-cell-basis') !important;
    }
}

.table__cell--normal {
    @include themify($themes) {
        flex-basis: themed('cell-basis') !important;
    }
}

.table__cell--small {
    @include themify($themes) {
        flex-basis: themed('small-cell-basis') !important;
    }
}

.table__cell--na {
    color: #aaa;
}

.table__cell--first-column {
    margin-left: 0px;
}

////////////////////////////////////////////////////////////////////////////////
// center right-aligned cell

.table__cell--center-right-align {
    /* text right aligned but in the center */
    justify-content: flex-end;
    //box-sizing: border-box;
    padding-right: 25px;
}

////////////////////////////////////////////////////////////////////////////////
// name cell

.table__name-cell {
    @extend .table__cell;

    display: flex;

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include themify($themes) {
            max-width: themed('cell-basis');
        }
    }

    @include themify($themes) {
        width: themed('cell-basis');
    }
}

.table__name-cell--huge {
    div {
        @include themify($themes) {
            max-width: themed('huge-cell-basis');
        }
    }

    @include themify($themes) {
        flex-basis: themed('huge-cell-basis');
        width: themed('huge-cell-basis');
    }

}

////////////////////////////////////////////////////////////////////////////////
// bar cell

.table__bar-cell {
    @extend .table__cell;
    position: relative; // anchor for the bar
}

.table__bar-cell__value {
}

.table__bar-cell__bar {
    position: absolute;
    height: 100%;
    left: 0px;
    background-color: #f4f6f6;
    z-index: -1;
}

////////////////////////////////////////////////////////////////////////////////
// cmp cell

.table__cmp-cell {
    @extend .table__cell;
    position: relative; // anchor for the bar
    justify-content: center;

    @include themify($themes) {
        flex-basis: themed('cell-basis');
    }
}

.optional {
    @include themify($themes) {
        display: themed('optional');
    }
}

.table__cmp-cell__a {
    flex: 1;
    text-align: right;
}

.table__cmp-cell__separator {
    flex-basis: 20px;
    display: flex;
    justify-content: center;
}

.table__cmp-cell__b {
    flex: 1;
}

// width and left positions are set dynamically
.table__cmp-cell__bar {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.table__cmp-cell__bar--worse {
    @include themify($themes) {
        background-color: themed('bar-color-worse');
        border-left: 1px solid themed('bar-border-color-worse');
    }
}

.table__cmp-cell__bar--better {
    @include themify($themes) {
        background-color: themed('bar-color-better');
        border-right: 1px solid themed('bar-border-color-better');
    }
}

////////////////////////////////////////////////////////////////////////////////
// time cell
.table__time-cell {
    @extend .table__cell;
    //flex-basis: $cell-basis;
    //position: relative;
}

.table__time-cell__value {
    flex: 1;
    text-align: right;
    margin-right: 7px;
}

.table__time-cell__label {
    flex: 1.5;
}


////////////////////////////////////////////////////////////////////////////////
// separator cell

.table__cell--separator {
    margin: 0px;

    @include themify($themes) {
        flex-basis: themed('separator-cell-basis');
    }
}


////////////////////////////////////////////////////////////////////////////////
// percent

.table__cell__percent {
    padding-left: 4px;

    @include themify($themes) {
        color: themed('grey-2');
    }
}

////////////////////////////////////////////////////////////////////////////////
// games
.table--games {
    margin-left: -15px;
}
