$win-color: none;//rgba(0,255,0,0.05);
$vgap-normal: 20px;

$table-hover-bg-color: rgba(0,0,0,0.04);
$table-hover-color: white;

$grey-0: black;
$grey-1: #aaa;
$grey-2: #ccc;
$grey-3: #f5f5f5;

$player-a-color: $grey-2;
$vs-cell-color: $grey-2;
$na-color: $grey-2;


$font-1: 'Inconsolata';
//$font-2: 'Inconsolata';
//$font-2: 'Audiowide';
//$font-2: 'Odibee Sans';
$font-2: 'Titillium Web';
$font-size-huge: 28px;
$font-size-small: 14px;
$font-size-tiny: 12px;
