@import '_common';

#main__activity {
    height: 150px;
    margin-left: -10px; // compensate for chart x offset
}

#main__activity tspan {
    @include themify($themes) {
        font-family: themed('font-1');
        font-size: themed('font-size-tiny');
    }
}

#main__activity rect {
    &:hover {
        cursor: crosshair;
    }

    @include themify($themes) {
        fill: themed('grey-2');
    }
}

#main__activity text {
    transition: all 0.2s ease-in-out;

    @include themify($themes) {
        fill: themed('grey-0');
    }
}

.main__activity__games, .main__activity__date {
    @include themify($themes) {
        fill: themed('hover-color') !important;
    }
}

#main__activity .hovered {
    transition: all 0.2s ease-in-out;

    @include themify($themes) {
        color: themed('hover-color');
        fill: themed('hover-color');
    }
}

.main__activity__header {
    text-transform: uppercase;
    padding-left: 9px;
    // padding-left: 500px;
}
