@import "./_common.scss";
@import "./players.scss";
@import "./games.scss";
@import "./gamesshort.scss";
@import "./opponents.scss";
@import "./maps.scss";
@import "./games_chart.scss";
@import "./status.scss";
@improt "./_vars.scss";

#main {
    // font-family: Courier;
    // font-size: 0.9em;
    // font-weight: 300;
    // line-height: 1.4;
    //font-family: 'Inconsolata', monospace;
    font-family: $font-1;
    //max-width: 80rem;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 100px;
}

// .main--players {
//     max-width: 800px !important;
// }

#main__2cols {
    display: flex;
    flex-direction: row;
}

#player, #players {
    width: 800px;
    font-family: $font-2;
    font-size: 52px;
    margin-bottom: 20px;
    //margin: 0 auto;

    a {
        text-decoration: none;
        color: blue;
    }
}

.title {
    font-family: $font-2;
    font-size: 38px;
    //margin: 0 auto;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 25px;
}

.m11-games-chart__title {
    @extend .title;
    margin-top: 50px;
    margin-bottom: 10px;
}

.m11-opponents__title, .m11-maps__title {
    @extend .title;
}
