@import "./_common.scss";
@import "./players.scss";
@import "./games.scss";
@import "./opponents.scss";
@import "./maps.scss";
@import "./games_chart.scss";

#main {
    // font-family: Courier;
    // font-size: 0.9em;
    // font-weight: 300;
    // line-height: 1.4;
    //font-family: 'Inconsolata', monospace;
    font-family: 'Inconsolata';
    //max-width: 80rem;
    max-width: 1400px;
    margin: 0 auto;
}

#player {
    width: 800px;
    font-family: 'Merriweather';
    font-size: 52px;
    margin: 0 auto;

    a {
        text-decoration: none;
        color: blue;
    }
}
