@import "./players.scss";
@import "./games.scss";
@import "./opponents.scss";
@import "./maps.scss";
@import "./games_chart.scss";

#main {
    font-family: Courier;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 80rem;
    margin: 0 auto;
}
