@import '_vars';

.m11-games {
    display: flex;
    flex-direction: column;
}

.m11-games__header {
    display: flex;
    text-transform: uppercase;
    margin-bottom: $vgap-normal;
    //justify-content: center;
}

.m11-games__header__cell {
    @extend .m11-games__game__cell;
}

.m11-games__header__player-a-cell {
    @extend .m11-games__game__player-a-cell;
    text-transform: initial;
    visibility: hidden;
}

.m11-games__header__cmp-cell {
    @extend .m11-games__game__cmp-cell;
    justify-content: center;
}

.m11-games__header__map-cell {
    @extend .m11-games__game__map-cell;
}

.m11-games__header__when-cell {
    @extend .m11-games__game__when-cell;
}

.m11-games__game {
    display: flex;
    //margin-bottom: 3px;
    //z-index: -10;
    //justify-content: center;

    /* &:nth-child(even) { */
    /*     background-color: $grey-3; */
    /* } */
}

.m11-games__game:hover {
    //border: 1px solid blue;
    //background-color: rgba(0,0,255,0.05);
    //color: $table-hover-color;
    background-color: $table-hover-bg-color;
}

.m11-games__game:nth-child(even) {
    //background-color: #f5f5f5;
}

.m11-games__game--win {
    background-color: $win-color;
}

.m11-games__game__cell {
//    width: $duel-games__game__cell__width;
    //    max-width: $duel-games__game__cell__max-width;
    display: flex;
    flex-basis: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 10px;
    //max-width: 70px;
}

.m11-games__game__player-a-cell {
    @extend .m11-games__game__cell;
    flex-basis: unset;
    max-width: 120px;
    /* max-width: 100px; */
    //justify-content: flex-end;
    //text-align: right;
    margin-left: 0px;

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100px;
    }
}

.m11-games__game__player-b-cell {
    @extend .m11-games__game__cell;

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.m11-games__game__map-cell {
    @extend .m11-games__game__cell;
    flex-basis: 80px;

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.m11-games__game__when-cell {
    @extend .m11-games__game__cell;
    flex-basis: 60px;
}

.m11-games__game__cmp-cell {
    display: flex;
    position: relative; // anchor for the bar
    flex-basis: 120px;
    justify-content: center;
    //width: $duel-games__game__cell__width;
    //max-width: $duel-games__game__cell__max-width;
}

.m11-games__cell--narrow {
    flex-basis: 90px !important;
}

.m11-games__game__cmp-cell__a {
    flex: 1;
    text-align: right;
}

.m11-games__game__cmp-cell__separator {
    flex-basis: 20px;
    display: flex;
    justify-content: center;
}

.m11-games__game__cmp-cell__b {
    flex: 1;
}

// width and left positions are set dynamically
.m11-games__game__cmp-cell__bar {
    position: absolute;
    height: 100%;
    z-index: -1;
}

// single cmp cell
.m11-games__header__single-cmp-cell {
    @extend .m11-games__header__cmp-cell;
    flex-basis: 60px;
}

.m11-games__game__single-cmp-cell {
    @extend .m11-games__game__cmp-cell;
    flex-basis: 60px;
}

.m11-games__game__single-cmp-cell__a {
    @extend .m11-games__game__cmp-cell__a;
    text-align: center;
    padding-right: 10px;
}

.m11-games__game__single-cmp-cell__bar {
    @extend .m11-games__game__cmp-cell__bar;
    right: 10px;
}

.m11-games__game__single-cmp-cell__bar--worse {
    background-color: rgba(255,0,0,0.15);
    border-right: 1px solid rgba(255,0,0,0.8);
}

.m11-games__game__cmp-cell__bar--worse {
    background-color: rgba(255,0,0,0.15);
    border-left: 1px solid rgba(255,0,0,0.8);
}

.m11-games__game__cmp-cell__bar--better {
    background-color: rgba(0,255,0,0.25);
    border-right: 1px solid rgba(0,255,0,1);
}

/* .duel-games__game__diff-cell__a { */
/*     flex: 1; */
/*     text-align: right; */
/* } */

/* .duel-games__game__diff-cell__bar--worse { */
/*     background-color: rgba(255,0,0,0.15); */
/*     border-left: 1px solid rgba(255,0,0,0.8); */
/* } */

/* .duel-games__game__diff-cell__bar--better { */
/*     background-color: rgba(0,255,0,0.25); */
/*     border-left: 1px solid rgba(0,255,0,1); */
/* } */

.m11-games__game__cmp-cell__na {
    color: #aaa;
}

.m11-games__game__cell__percent {
    color: #ccc;
}

.m11-games__separator-cell {
    flex-basis: 40px;
}

// $cell-width: 70px;

// @mixin recent-games-row() {
//   display: flex;
//   flex-direction: row;
// }

// @mixin recent-games-cell() {
//   margin-left: 10px;
//   margin-right: 10px;
//   min-width: $cell-width;
//   overflow: hidden;
//   text-overflow: ellipsis;

//   display: flex;
//   flex-direction: row;
//   //justify-content: center;

//   //&:first-child {
//   &.opponent {
//     min-width: $cell-width + 80px;
//     //text-align: left;
//   }

//   &.map {
//     min-width: $cell-width + 20px;
//   }

//   // &:nth-child(9) {
//   //   min-width: $cell-width / 2.0;
//   // }
// }

// #duel-games {
//   // font-family: Courier;
//   // font-size: 14px;
//   display: flex;
//   flex-direction: column;
//   //font-family: Courier;
//   text-align: right;

//   .header-row {
//     @include recent-games-row();

//     font-weight: bold;
//     margin-bottom: 5px;

//     .cell {
//       @include recent-games-cell();
//       //border: 1px solid white;
//       justify-content: flex-end;

//       &.opponent, &.map {
//         justify-content: flex-start;
//       }

//       &.frags {
//         justify-content: center;
//       }
//     }
//   }

//   .game-row {
//     display: flex;
//     flex-direction: row;
//     color: #777;

//     &.win {
//       background-color: lighten( #e1ffe9, 2% );
//     }

//     .cell {
//       @include recent-games-cell();
//       justify-content: flex-end;

//       &.opponent, &.map {
//         justify-content: flex-start;
//       }

//       &.frags {
//         justify-content: center;
//       }

//       &.frags {
//         .frags-a {
//           flex-basis: 40%;
//         }

//         .frags-separator {
//           flex-basis: 20%;
//           text-align: center;
//           color: #ccc;
//         }

//         .frags-b {
//           flex-basis: 40%;
//           text-align: left;
//         }
//       }

//     }
//   }
// }
