@import '_vars';

.m11-gamesshort {
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
}

.m11-gamesshort__header {
    display: flex;
    text-transform: uppercase;
    margin-bottom: $vgap-normal;
    //justify-content: center;
}

.m11-gamesshort__header__cell {
    @extend .m11-gamesshort__cell;
}

.m11-gamesshort__header__player-a-cell {
    @extend .m11-gamesshort__player-a-cell;
    //text-transform: initial;
    //visibility: hidden;
}

.m11-gamesshort__header__player-b-cell {
    @extend .m11-gamesshort__player-b-cell;
}

.m11-gamesshort__header__cmp-cell {
    @extend .m11-gamesshort__cmp-cell;
    justify-content: center;
}

.m11-gamesshort__header__map-cell {
    @extend .m11-gamesshort__map-cell;
}

.m11-gamesshort__header__when-cell {
    @extend .m11-gamesshort__when-cell;
    color: unset !important;
    //visibility: hidden;
}

.m11-gamesshort__game {
    display: flex;
    //margin-bottom: 3px;
    //z-index: -10;
    //justify-content: center;

    /* &:nth-child(even) { */
    /*     background-color: $grey-3; */
    /* } */
}

.m11-gamesshort__game:hover {
    //border: 1px solid blue;
    //background-color: rgba(0,0,255,0.05);
    //color: $table-hover-color;
    background-color: $table-hover-bg-color;
}

.m11-gamesshort__game:nth-child(even) {
    //background-color: #f5f5f5;
}

.m11-gamesshort__cell {
//    width: $duel-games__game__cell__width;
    //    max-width: $duel-games__game__cell__max-width;
    display: flex;
    flex-basis: 100px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    margin: 0px 10px;
    //max-width: 70px;
}

.m11-gamesshort__player-a-cell {
    @extend .m11-gamesshort__cell;
    //width: 150px;
    //flex-basis: unset;
    //max-width: 120px;
    /* max-width: 100px; */
    //justify-content: flex-end;
    //text-align: right;
    margin-left: 0px;
    justify-content: flex-end;

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100px;
    }
}

.m11-gamesshort__player-b-cell {
    @extend .m11-gamesshort__cell;
    //width: 150px;

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100px;
    }
}

.m11-gamesshort__map-cell {
    @extend .m11-games__game__cell;
    flex-basis: 80px;

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.m11-gamesshort__when-cell {
    @extend .m11-games__game__cell;
    flex-basis: 40px;
    margin-right: 0px;
    margin-left: 0px;
    color: $grey-2;
}

.m11-gamesshort__cmp-cell {
    display: flex;
    position: relative; // anchor for the bar
    flex-basis: 120px;
    justify-content: center;
    //width: $duel-games__game__cell__width;
    //max-width: $duel-games__game__cell__max-width;
}

// .m11-gamesshort__cell--narrow {
//     flex-basis: 90px !important;
// }

.m11-gamesshort__cmp-cell__a {
    flex: 1;
    text-align: right;
}

.m11-gamesshort__cmp-cell__separator {
    flex-basis: 20px;
    display: flex;
    justify-content: center;
}

.m11-gamesshort__cmp-cell__b {
    flex: 1;
}

// width and left positions are set dynamically
.m11-gamesshort__cmp-cell__bar {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.m11-gamesshort__cmp-cell__bar--worse {
    background-color: rgba(255,0,0,0.15);
    border-left: 1px solid rgba(255,0,0,0.8);
}

.m11-gamesshort__cmp-cell__bar--better {
    background-color: rgba(0,255,0,0.25);
    border-right: 1px solid rgba(0,255,0,1);
}

.m11-gamesshort__cmp-cell__na {
    color: #aaa;
}

.m11-gamesshort__game__cell__percent {
    color: #ccc;
}

// .m11-gamesshort__separator-cell {
//     flex-basis: 40px;
// }
