
@import '_common';

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;

    @include themify($themes) {
        background-color: themed('grey-3');
        margin-bottom: themed('vgap-normal');
    }
}

.header__logo {
    margin-left: 10px;
    flex-grow: 2;
}

#header select {
    margin-right: 10px;
}
