@import '_vars';
//@import 'games';
//@import 'opponents';

.m11-maps {
    display: flex;
    flex-direction: column;
}

.m11-maps__row {
    display: flex;
    //justify-content: center;

    &:hover {
        background-color: $table-hover-bg-color;
    }
}

.m11-maps__row--header {
    text-transform: uppercase;
    margin-bottom: $vgap-normal;
}

.m11-maps__row--map {
    
}

.m11-maps__cell {
    display: flex;
    flex-basis: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 10px;
}

.m11-maps__cell--header {
    
}

.m11-maps__cell--map {
    
}

.m11-maps__cell--name {
    justify-content: flex-start;
}

.m11-maps__player-a-cell {
    @extend .m11-maps__cell;
    flex-basis: unset;
    max-width: 120px;
    margin-left: 0px;
    color: $player-a-color;

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.m11-maps__player-b-cell {
    @extend .m11-maps__cell;
    flex-basis: unset;
    color: $player-a-color;
}

.m11-maps__vs-cell {
    color: $vs-cell-color;
}

.m11-maps__player-a-cell.m11-maps__cell--header,
.m11-maps__vs-cell.m11-maps__cell--header,
.m11-maps__player-b-cell.m11-maps__cell--header {
    visibility: hidden;









}

/* cmp cell */
.m11-maps__cmp-cell {
    @extend .m11-games__game__cmp-cell;
}

.m11-maps__cmp-cell__a {
    @extend .m11-games__game__cmp-cell__a;
}

.m11-maps__cmp-cell__b {
    @extend .m11-games__game__cmp-cell__b;
}

.m11-maps__cmp-cell__separator {
    @extend .m11-games__game__cmp-cell__separator;
}

.m11-maps__cmp-cell__bar {
    @extend .m11-games__game__cmp-cell__bar;
}

.m11-maps__cmp-cell__bar--better {
    @extend .m11-games__game__cmp-cell__bar--better;
}

.m11-maps__cmp-cell__bar--worse {
    @extend .m11-games__game__cmp-cell__bar--worse;
}

.m11-maps__cmp-cell--header {
    @extend .m11-games__header__cmp-cell;
}

/* bar cell */
.m11-maps__bar-cell {
    @extend .m11-opponents__bar-cell;
}

.m11-maps__bar-cell__value {
    //@extend .m11-opponents__bar-cell__value;
}

.m11-maps__bar-cell__bar {
    @extend .m11-opponents__bar-cell__bar;
}
