@import '_vars';

.m11-opponents {
    display: flex;
    flex-direction: column;
}

.m11-opponents__row {
    display: flex;
    justify-content: center;
}

.m11-opponents__row--header {
    text-transform: uppercase;
    margin-bottom: $vgap-normal;
}

.m11-opponents__row--opponent {
    
}

.m11-opponents__cell {
    display: flex;
    flex-basis: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 10px;
}

.m11-opponents__cell--header {
    
}

.m11-opponents__cell--opponent {
    
}

.m11-opponents__cell--name {
    justify-content: flex-start;
}
