@import '_vars';
@import 'games';

.m11-opponents {
    display: flex;
    flex-direction: column;
}

.m11-opponents__row {
    display: flex;
    justify-content: center;
}

.m11-opponents__row--header {
    text-transform: uppercase;
    margin-bottom: $vgap-normal;
}

.m11-opponents__row--opponent {
}

.m11-opponents__cell {
    display: flex;
    flex-basis: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 10px;
}

.m11-opponents__cell--header {
}

.m11-opponents__cell--opponent {
}

// .m11-opponents__cell--name {
//     background-color: red;
// }

.m11-opponents__cell--map {
    justify-content: flex-start;
    flex-basis: 120px;
}

.m11-opponents__cell--name-a {
    justify-content: flex-end;
    flex-basis: 120px;
    margin-right: 5px;
    color: $grey-2;
}

.m11-opponents__cell--name-b {
    justify-content: flex-start;
    flex-basis: 120px;
}

/* cmp cell */
.m11-opponents__cmp-cell {
    @extend .m1vs1-games__game__cmp-cell;
}

.m11-opponents__cmp-cell__a {
    @extend .m1vs1-games__game__cmp-cell__a;
}

.m11-opponents__cmp-cell__b {
    @extend .m1vs1-games__game__cmp-cell__b;
}

.m11-opponents__cmp-cell__separator {
    @extend .m1vs1-games__game__cmp-cell__separator;
}

.m11-opponents__cmp-cell__bar {
    @extend .m1vs1-games__game__cmp-cell__bar;
}

.m11-opponents__cmp-cell__bar--better {
    @extend .m1vs1-games__game__cmp-cell__bar--better;
}

.m11-opponents__cmp-cell__bar--worse {
    @extend .m1vs1-games__game__cmp-cell__bar--worse;
}

.m11-opponents__cmp-cell--header {
    @extend .m1vs1-games__header__cmp-cell;
}

.m11-opponents__cmp-cell--na {
    color: #aaa;
}

/* bar cell */
.m11-opponents__bar-cell {
    @extend .m11-opponents__cell;
    position: relative; // anchor for the bar
}

.m11-opponents__bar-cell__value {
}

.m11-opponents__bar-cell__bar {
    position: absolute;
    height: 100%;
    left: 0px;
    background-color: #eee;
    z-index: -1;
}

/* avg row */
.m11-opponents__row--avg:nth-child(2) {
    margin-top: 5px;
}

.m11-opponents__row--avg:nth-child(3) {
    //margin-top: 10px;
    margin-bottom: 20px;
}

.m11-opponents__cmp-cell--avg {
    font-weight: bold;
}
