@import '_vars';

.duel-players {
    display: flex;
    flex-direction: column;
}

.duel-players__header {
    display: flex;
    text-transform: uppercase;
    margin-bottom: $vgap-normal;
    justify-content: center;
}

.duel-players__header__cell {
    @extend .duel-players__player__cell;
}

.duel-players__header__name-cell {
    @extend .duel-players__player__name-cell;
}

.duel-players__player {
    display: flex;
    justify-content: center;
}

.duel-players__player:hover {
    cursor: pointer;
    color: $table-hover-color;
    background-color: $table-hover-bg-color;
}

.duel-players__player__cell {
    display: flex;
    flex-basis: 50px;
    margin: 0px 10px;
}

.duel-players__player__name-cell {
    display: flex;
    flex-basis: 200px;
}
