$themes: (
    bps: (

    ),
    krychu: (
        vgap-normal: 20px,
        grey-0: black,
        grey-2: #ccc,
        grey-3: #f5f5f5,

        font-1: 'Inconsolata',
        font-2: 'Titillium Web',
        font-size-tiny: 12px,
        font-size-huge: 28px,

        hover-color: cyan,
        table-hover-bg-color: rgba(0,0,0,0.04),

        tiny-cell-basis: 50px,
        small-cell-basis: 80px,
        cell-basis: 100px,
        huge-cell-basis: 150px,

        bar-color-worse: rgba(255,0,0,0.15),
        bar-border-color-worse: rgba(255,0,0,0.8),
        bar-color-better: rgba(0,255,0,0.25),
        bar-border-color-better: rgba(0,255,0,1),

        separator-cell-basis: 40px,

        optional: none, // inherit, flex, or none
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {

        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }

    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}
