<script>
 const SV_PLAYER = "<%= @player %>";
</script>

<div id="main">

    <div id="duel-games-chart"></div>
    <div id="duel-games"></div>
    <div id="duel-performance"></div>
    <div id="duel-development"></div>

</div>
