.games-chart {
  // width and height in games_chart.html.eex
  margin-top: 20px;
  margin-bottom: 20px;

  .lines {
    stroke: #aaa;
  }

  .dots {
    stroke: #aaa;
    fill: none;
  }

  .x-axis {
    stroke: #ddd;
    stroke-dasharray: 2 4;
  }

  .y-tick {
      stroke: #888;
  }

  .y-tick-long {
    stroke: #eee;
  }

  .y-tick-text {
    font-size: 10px;
    fill: #888;
  }
}
