$cell-width: 70px;

@mixin opponents-row() {
  display: flex;
  flex-direction: row;
}

@mixin opponents-cell() {
  margin-left: 10px;
  margin-right: 10px;
  min-width: $cell-width;
  overflow: hidden;
  text-overflow: ellipsis;

  // display: flex;
  // flex-direction: row;

  &.opponent {
    width: $cell-width + 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  &.map {
    min-width: $cell-width + 20px;
    margin-left: 30px;
    text-align: left;
  }
}

.opponents {
  display: flex;
  flex-direction: column;
  text-align: right;

  .header-row {
    @include opponents-row();

    font-weight: bold;
    margin-bottom: 5px;

    .cell {
      @include opponents-cell();
      justify-content: flex-end;

      &.opponent, &.map {
        justify-content: flex-start;
      }
    }
  }

  .opponent-row {
    display: flex;
    flex-direction: row;
    color: #777;

    .cell {
      @include opponents-cell();
      // justify-content: flex-end;

      // &.opponent, &.map {
      //   justify-content: flex-start;
      // }
    }
  }
}
