.performance {
  display: flex;
  flex-direction: column;
  align-items: center;

  .top-level-stats {
    display: flex;
    flex-direction: row;

    .cell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 140px;
      height: 50px;
      margin: 20px;
      //border: 1px solid #aaa;

      .value {
        font-size: 36px;
      }
    }
  }

  .svg-timeline-chart {
    .lines {
      stroke: #aaa;
      fill: none;
    }

    .dots {
      stroke: #aaa;
      fill: none;
    }
  }
}
