$cell-width: 70px;

@mixin recent-games-row() {
  display: flex;
  flex-direction: row;
}

@mixin recent-games-cell() {
  margin-left: 10px;
  margin-right: 10px;
  min-width: $cell-width;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child {
    min-width: $cell-width + 50px;
    text-align: left;
  }

  &:nth-child(9) {
    min-width: $cell-width / 2.0;
  }
}

games-table {
  // font-family: Courier;
  // font-size: 14px;
  display: flex;
  flex-direction: column;
  font-family: Courier;
  text-align: right;

  .header-row {
    @include recent-games-row();

    font-weight: bold;
    margin-bottom: 5px;

    .cell {
      @include recent-games-cell();
      border: 1px solid white;
    }
  }

  .game-row {
    display: flex;
    flex-direction: row;
    color: #777;

    .cell {
      @include recent-games-cell();
    }
  }
}
